<div class="container-fluid">
    <div class="bg-light text-center"><h1>Welcome to fun with tic-tac-toe</h1></div>
    <div class="row">
        <div class="col-md-6">
            <div >
                <input type="button" #btn0 class="btn btn-primary" (click)="play(0, btn0)">
                <input  type="button"#btn1 class="btn btn-primary" (click)="play(1, btn1)">
                <input  type="button"#btn2 class="btn btn-primary" (click)="play(2, btn2)">
            </div>
            <div >
                <input type="button" #btn3 class="btn btn-primary"  (click)="play(3, btn3)">
                <input type="button" #btn4 class="btn btn-primary" (click)="play(4, btn4)">
                <input type="button" #btn5 class="btn btn-primary" (click)="play(5, btn5)">
            </div>
            <div >
                <input type="button" #btn6 class="btn btn-primary" (click)="play(6, btn6)">
                <input type="button" #btn7 class="btn btn-primary" (click)="play(7, btn7)">
                <input type="button" #btn8 class="btn btn-primary" (click)="play(8, btn8)">
            </div>
        </div>
        <div class="col-md-6 bg-warning text-center">
            <h1 *ngIf ="gameEnd">We have a winner!!: <Span style="background-color: rgb(0, 255, 128);">{{playerwon}}</Span> won !!!</h1>
            <h1 *ngIf="!gameEnd">Next Player is: {{nextPlayer}}</h1>
            
        </div>
    </div>
    <div class="mt-2"><button class="btn btn-primary btn-lg btn-block" (click) ="restart()">Restart</button></div>
</div>